{% extends "newshroom/base.html" %}
{% block title %}Change Password{% endblock %}
{% block content %}
<div class="newsletter-container">
    <div class="newsletter-header">
        <span class="newsletter-label">Account</span>
        <h1>Change Password</h1>
    </div>

    {% if form.errors %}
        <div class="form-errors">
            Please correct the errors below.
        </div>
    {% endif %}

    <form method="post" action="{% url 'fairy_ring:password_change' %}" class="newsletter-form">
        {% csrf_token %}

        <div class="form-field {% if form.old_password.errors %}has-error{% endif %}">
            <label for="{{ form.old_password.id_for_label }}">Current Password</label>
            {{ form.old_password }}
            {% for error in form.old_password.errors %}
                <span class="field-error">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="form-field {% if form.new_password1.errors %}has-error{% endif %}">
            <label for="{{ form.new_password1.id_for_label }}">New Password</label>
            {{ form.new_password1 }}
            {% for error in form.new_password1.errors %}
                <span class="field-error">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="form-field {% if form.new_password2.errors %}has-error{% endif %}">
            <label for="{{ form.new_password2.id_for_label }}">Confirm New Password</label>
            {{ form.new_password2 }}
            {% for error in form.new_password2.errors %}
                <span class="field-error">{{ error }}</span>
            {% endfor %}
        </div>

        <button type="submit" class="btn-send">Update Password</button>
    </form>
</div>
{% endblock content %}
